<% unless flights.nil? %>

<div class="search-flight-result">
  <%= form_with url: new_booking_path, method: :get do |form| %>
  
    <% flights.each do |flight| %>
      <div class="field">
        <%= form.hidden_field :passengers_no, value: passengers_no %>
        <%= form.radio_button :flight_id, flight.id %>
        <%= form.label :flight_id, flight.pretty_print, value: flight.id %>
      </div>
    <% end %>

    <div class="field">
      <%= form.submit 'Book now' %>
    </div>

  <% end %>
</div>

<% end %>