<div class="heading-container">
  <div class="main-heading-container">
    <h1 class="main-heading">Find flights and plan your next adventure</h1>
  </div>
  <div class="sub-heading-container">
    <h2 class="sub-heading">Book and manage your trip on the go hassle free</h2>
  </div>
</div>

<div class="search-flights-container">
  <%= form_with url: flights_path, method: :get do |f| %>
    <div class="field">
      <%= f.collection_select :to_airport_id, @airports, :id, :code %>
    </div>

    <div class="field">
      <%= f.collection_select :from_airport_id, @airports, :id, :code %>
    </div>

    <div class="field">
      <%= f.collection_select :date, @dates, :date, :formatted_date %>
    </div>

    <div class="field">
      <%= f.select :no_of_passengers, 1..4 %>
    </div>

    <div class="field">
      <%= f.submit 'Book now' %>
    </div>
  <% end %>
</div>

<%= @flights.to_a %>