<div class="booking-form">

  <%= form_with model: booking do |booking_form| %>
    <% if booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
          <% booking.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= booking_form.hidden_field :flight_id, value: flight.id %>

    <div class="passengers-form">
      <%= booking_form.fields_for :passengers do |f| %>
      
        <div class="passenger-form">
          <div class="field">
            <%= f.text_field :name, placeholder: 'name' %>
          </div>

          <div class="field">
            <%= f.email_field :email, placeholder: 'email' %>
          </div>
        </div>

      <% end %>
    </div>

    <%= booking_form.submit 'Book now' %>
  <% end %>

</div>